<div class="container my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Staffs records", staffs_path, class: "breadcrumb-item" %></li>
            <li class="breadcrumb-item active" aria-current="page"><%= @staff.surname %> (ID: <%= @staff.id %>)</li>
        </ol>
    </nav>

    <p><small><b>Record created on:</b> <i><%= @staff.created_at %></i> | <b>Last updated on:</b> <i><%= @staff.updated_at %></i></small></p>

    <p>
        <%= link_to "Edit", edit_staff_path(@staff) %> |
        <%= button_to "Delete", staff_path(@staff), method: :delete, class: "text-danger" %>
        <h1 class="text-center"><%= @staff.title.capitalize %> <%= @staff.surname %>'s record</h1>
    </p>
    <br>
    
    <table class="table table-bordered">
        <thead class="table-secondary">
            <tr>
            <th scope="col">Attributes</th>
            <th scope="col">Values</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
            <tr>
                <td><b>Title</b></td>
                <td><%= @staff.title.capitalize %></td>
            </tr>
            <tr>
                <td><b>Surname</b></td>
                <td><%= @staff.surname.capitalize %></td>
            </tr>
            <tr>
                <td><b>Other names</b></td>
                <td><%= @staff.other_names.capitalize %></td>
            </tr>
            <tr>
                <td><b>Email Address</b></td>
                <td><%= @staff.email %></td>
            </tr>
            <tr>
                <td><b>Phone number</b></td>
                <td><%= @staff.phone_number %></td>
            </tr>
            <tr>
                <td><b>Permanent Address</b></td>
                <td><%= @staff.permanent_address %></td>
            </tr>
            <tr>
                <td><b>File number</b></td>
                <td><%= @staff.file_no %></td>
            </tr>
            <tr>
                <td><b>Department</b></td>
                <td><%= @staff.department %></td>
            </tr>
            <tr>
                <td><b>Status of staff</b></td>
                <td><%= @staff.staff_status.capitalize %></td>
            </tr>
            <tr>
                <td><b>Status of appointment</b></td>
                <td><%= @staff.status_of_app.capitalize %></td>
            </tr>
            <tr>
                <td><b>Qualifications with dates</b></td>
                <td>
                    <% @staff.qualifications.pluck(:name).each do |q| %>
                        <%= link_to q.upcase, "#", class: "btn btn-sm btn-secondary btn-q-s" %>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td><b>Gender</b></td>
                <td><%= @staff.sex.capitalize %></td>
            </tr>
            <tr>
                <td><b>State</b></td>
                <td><%= @staff.state %></td>
            </tr>
            <tr>
                <td><b>LGA</b></td>
                <td><%= @staff.lga %></td>
            </tr>
            <tr>
                <td><b>Designation</b></td>
                <td><%= @staff.designation %></td>
            </tr>
            <tr>
                <td><b>Professional Qualifications</b></td>
                <td><%= simple_format(@staff.prof_qualifications) %></td>
            </tr>
            <tr>
                <td><b>Conpcass</b></td>
                <td><%= @staff.conpcass %></td>
            </tr>
            <tr>
                <td><b>Date of birth</b></td>
                <td><%= @staff.dob %></td>
            </tr>
            <tr>
                <td><b>Date of first appointment</b></td>
                <td><%= @staff.dofa %></td>
            </tr>
            <tr>
                <td><b>Date of present appointment</b></td>
                <td><%= @staff.dopa %></td>
            </tr> 
            <tr>
                <td><b>Date of confirmation</b></td>
                <td><%= @staff.date_of_confirmation %></td>
            </tr> 
            </tr>
            <tr>
                <td><b>Remarks</b></td>
                <td><%= @staff.remarks %></td>
            </tr>
    </table>
    <div class="text-center">
        <%= link_to "Back", :back, class: "btn btn-small btn-primary" %>
    </div>
</div>
