<div class="container my-5">
  <h2 class="text-center">Log in</h2>
  <div class="row">
    <div class = "col-md-6 offset-md-3">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, placeholder: "Email", autofocus: true, class: "form-control" %>
        </div>

        <br>

        <div class="field">
          <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
        </div>

        <br>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <br>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      <% end %>

      <br>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

