<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "FPA NRTS", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "All records", staffs_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown has-megamenu">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Filter records  </a>
          <div class="dropdown-menu megamenu" role="menu">
            <div class="row g-3">
              <div class="col-lg-3 col-6">
                <div class="col-megamenu">
                  <h5 class="title">Title</h5>
                  <hr>
                  <ul class="list-unstyled">
                    <li><%= link_to "Doctor", doctor_path %></li>
                    <li><%= link_to "Mr", mr_path %></li>
                    <li><%= link_to "Mrs", mrs_path %></li>
                  </ul>
                </div>  <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
              <div class="col-lg-3 col-6">
                <div class="col-megamenu">
                  <h5 class="title">Staff status</h5>
                  <hr>
                  <ul class="list-unstyled">
                    <li><%= link_to "Chief lecturer with PHD", chief_lecturer_with_phd_path %></li>
                    <li><%= link_to "Chief lecturer with MSC", chief_lecturer_with_msc_path %></li>
                    <li><%= link_to "Senior lecturer with PHD", senior_lecturer_with_phd_path %></li>
                    <li><%= link_to "Senior lecturer with MSC", senior_lecturer_with_msc_path %></li>
                  </ul>
                </div>  <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
              <div class="col-lg-3 col-6">
                <div class="col-megamenu">
                  <h5 class="title">Status of staff application</h5>
                  <hr>
                  <ul class="list-unstyled">
                    <li><%= link_to "Pending", pending_staffs_path %></li>
                    <li><%= link_to "Active", active_staffs_path %></li>
                    <li><%= link_to "Retired", retired_staffs_path %></li>
                  </ul>
                </div>  <!-- col-megamenu.// -->
              </div>    
              <div class="col-lg-3 col-6">
                <div class="col-megamenu">
                  <h5 class="title">Gender</h5>
                  <hr>
                  <ul class="list-unstyled">
                    <li><%= link_to "Male Staffs", male_staffs_path %></li>
                    <li><%= link_to "Female Staffs", female_staffs_path %></li>
                  </ul>
                </div>  <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
            </div><!-- end row --> 
          </div> <!-- dropdown-mega-menu.// -->
        </li>
        <li class="nav-item">
          <%#= link_to "New record", new_staff_path, class: "nav-link" %>
        </li>
        <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "New staff record", new_staff_path, class: "dropdown-item" %></li>
              <li><%= link_to "Account settings", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to "Signout", destroy_user_session_path, method: :delete, class: "form-control btn btn-danger" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function(){
        /////// Prevent closing from click inside dropdown
        document.querySelectorAll('.dropdown-menu').forEach(function(element){
        	element.addEventListener('click', function (e) {
        		e.stopPropagation();
        	});
        })
    }); 
	// DOMContentLoaded  end
</script>